#fibonacciCanvas {
  display: block;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #999999;
  position: absolute;
  top: 50%; /* Position from the vertical center */
  left: 50%; /* Position from the horizontal center */
  transform: translate(-50%, -50%); /* Adjust the position to center */
  z-index: -100;
}
