body{
  overflow-x : hidden;
  margin: 0;
}

a{
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.HeaderObject{
  margin-left: 10vh;
}

header{
  top: 0px;
  height: 8vh;
  width: 100%;
  font-size: 3vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
}

#TheamButton{
  width: 3vh;
  height: 1.5vw;
}

main{
  margin: 5%;
  font-size: 2vh;
  font-family: 'Roboto Slab', serif;
}

#ButtonContainer{
  margin-left: auto;
  margin-right: 10vh;
}