
* {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  color-scheme: dark;
}

body{
  overflow-x : hidden;
  margin: 0;
  height: 92vh;
  margin-top: 8vh;
}

header{
  top: 0px;
  height: 8vh;
  width: 100%;
  font-size: 3vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
}

main{
  font-family: 'Roboto Slab', serif;
  z-index: 0;
  scroll-behavior: smooth;
}

a{
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}

.HeaderObject{
  margin-left: 10vh;
}


#TheamButton{
  width: 3vw;
  height: 1.5vh;
}

#ButtonContainer{
  margin-left: auto;
  margin-right: 10vh;
}

a{color: #666;display:inline-block; margin:0;text-transform:uppercase;}
a:after{
  display:block;
  content: '';
  border-bottom: solid 0.4vh #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

a:hover:after { transform: scaleX(1); }
a.HeaderObject:after{  transform-origin:  0% 50%;
}

main {
  width: 100%;
  height: 92vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  width: 100%;
  height: 100%;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  scroll-snap-align: start;
  z-index: 0;
  overflow-y: visible;
  position: relative;
}

/* Hobbies */


/*= End of Hobbies */
