*{
  font-family: "Roboto Slab", serif;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  height: 92vh;
  margin-top: 8vh;
}

img,.arrow-right {
  z-index: 1;
}

header{
  top: 0px;
  height: 8vh;
  width: 100%;
  font-size: 3vh;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #999999;
}

main {
  font-family: "Roboto Slab", serif;
  z-index: 0;
  scroll-behavior: smooth;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
}

.HeaderObject {
  margin-left: 10vh;
}

#ThemeButton {
  width: fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  background-color: transparent;
}

#ButtonContainer {
  margin-left: auto;
  margin-right: 10vh;
  border: none;
  background-color: transparent;
  border: none;
}

a {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

a:after {
  display: block;
  content: "";
  border-bottom: solid 0.4vh #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a:hover:after {
  transform: scaleX(1);
}

a.HeaderObject:after {
  transform-origin: 0% 50%;
}

main {
  width: 100%;
  height: 92vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  width: 100%;
  height: 100%;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  scroll-snap-align: start;
  z-index: 0;
  overflow-y: visible;
}

.container {
  position: relative;
}

label {
  position: absolute;
  inset: 0;
  margin-right: 10vh;
  width: 100px;
  aspect-ratio: 1;
  background: rgb(52,53,65);
  box-shadow: 0 0 0 800vmax rgb(52,53,65);
  clip-path: circle(50%);
  transition: all 2s;
  z-index: 0;
}

h1{
  margin-left: 10px;
}

input[type="checkbox"]:checked + label {
  clip-path: circle(6000%);
  border-radius: 50%;
  background: #f0f0f0;
}

input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: 10%;
}

p,
h1,
a,
.hobby,
.skill,
h3,
.portfolio {
  transition: 3s;
  color: black;
  z-index: 1;
  position: relative;
}

.covered,
p.covered,
h1.covered,
a.covered,
.hobby.covered,
.skill.covered,
h3.covered,
.portfolio.covered {
color: rgb(255, 255, 255);
}